# local data
data/
backups/
MYUSB/
IGNORE/
.certbot/
.deploy-state/

# logs
*.log

# environment variables
.env

# ssh keys
*.pem
*.key

# macOS
.DS_Store

# vscode
.vscode/

# node
node_modules/

# docker
*.tar
